.bg-churn-main_head {
    color: $main-heading;
    font-size: 27px;
    font-weight: 500;
}

.bg-churn-sub_head {
    font-size: 18px;
    color: $primary-font;
    font-weight: 400;
}

.bg-churn_tile {
    border-radius: 2px;
    border: 1px solid $stroke-color;
    background: $white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 1rem;
}

.bg-churn_tile--icon {
    font-size: 18px;
    padding: 3px 12px;
    background-color: $yellow-font;
    width: fit-content;
    color: $white;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-churn_tile-text {
    color: $main-heading;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}

.bg-churn_tile--perc {
    font-size: 42px;
    color: $primary-font;
    font-weight: 300;
    margin-top: 0.8rem;
}

.bg-churn_tile-toChurn {
    background-color: $danger ;
}

.bg-churn_tile-notChurn {
    background-color: $active-btn;
}
.bg-churn_table{
    overflow: auto;
    max-height: 438px;
    
}

.bg-churn_table--container {
    background-color: $white;
    border-radius: 2px;
    border: 1px solid $stroke-color;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);


}

.bg-churn-prdt_thead {
    background-color: $white;
    text-align: left;
}

.bg-churn_predict--table {
    tr {
        th:first-child {
            text-align: left;
            padding-left: 1.4rem;
        }

        td:first-child {
            text-align: left;
            padding-left: 1.4rem;
        }
    }
}

.bg-churn_predict--table {
    tbody {
        tr:nth-child(even) {
            background: $secondary-bg;
        }
    }
}

.bg-churn__success {
    position: relative;
    margin-left: 1rem;
    display: flex;
    align-items: center;

}

.bg-churn__success::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: $active-btn;
    position: absolute;
    left: -14px;
}

.bg-churn__failed::before {
    background-color: $danger;
}
.bg-churn_cust-search-bar{
    border: none;
    box-shadow: none;
    font-size: 12.8px;
    color: $primary-font;
    padding-left: 6px;
    
}
.bg-churn_cust-search-bar:focus{
    box-shadow: none;
}
.bg-churn-nav_btn{
    color: $primary-font;
    border: 1px solid $stroke-color;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    width: 32px;
    height: 32px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background-color: $secondary-color;
        color: $main-heading;
    }

}
.bg-churn-prdt_sort-btn{
    border: 0px;
    background-color: $white;
    float: right;
 
}
.bg-churn_graph{
    width: 300px;

    img{
        width: 100%;
        height: auto;
    }
}