.page_title {
    font-size: 26px;
}

.page_sub_title {
    font-size: 18px;

}

.churn_prediction_selected_filter {


    .churn_predict_filter_details {
        border-radius: 6px;
        border: 1px solid #DFDFDF;
        text-align: center;
        height: 100px;

        .number {
            color: black;
            font-size: 24px;
            font-weight: 600;
        }

        .percnt {
            color: black;
            font-size: 20px;
            font-weight: 600;
        }
    }

}


.filter_table {
    height: 55vh;
    overflow-y: auto;


}




.side_graph_wrapper {
    height: 85vh;
    overflow-y: auto;

    .side_graph {
        position: sticky;
    }
}

.churn_prediction_graph {
    border: 1px solid #DFDFDF;

    .grap_heading {
        text-align: center;
        color: $primary-font;
        font-size: 14px;

    }

    .churn_prediction-graph_img {
        height: 240px;
        width: 100%;

        .img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


.table_heading {
    .note {
        margin-right: auto;
        text-align: end;
        font-size: 12px;
        color: $font-color;

    }

    .table_header {
        border-radius: 6px;
        border: 1px solid #DFDFDF;
        text-align: center;
    }
}

.bg-empty_data-img {
    width: 100px;
}

.bg-image {
    width: 100%;

}

.bg-empty_text {
    max-width: 64%;
    color: $primary-font;
}

.bg-churn_predict--tile {
    border-radius: 2px;
    border: 1px solid #DFDFDF;
    background: #FFF;
    padding: 1rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}



.bg-churn_predict-headline {
    font-weight: 600;
    font-size: 1.4rem;
}

.bg-churn-predict_state-txt {
    color: $primary-font;
    font-size: 14px;
}

.bg-table_top--section {
    float: right;
}

.bg-churn_prdict-main__container {
    height: 90vh;
    overflow: auto;
}

.bg-sticky--header {
    position: sticky;
    top: 0px;
    background: $white;
    z-index: 999;
}

.bg-churn_prdict-table__container {
    max-height: 340px;
    overflow: auto;

    border-top: 1px solid $border-color;

    tbody {
        tr:nth-child(even) {
           // background-color: $secondary-color;
        }
    }

    tr {
        border-bottom: 1px solid $stroke-color;
     
    }

    td {
        padding: 0.8rem 0.6rem;
        font-size: 14px;
        color: $main-heading;
        font-weight: 500;





    }
}

.bg-churn_prdict-table__container {


    .bg-churn-ys {
        color: $green-font;
    }

    .bg-churn-no {
        color: $badge-bg;
    }


}

.bg-churnPrdict_table-head {
    color: $main-heading ;
    // border: 1px solid $border-color;
    font-size: 14px;
    background-color: $secondary-color;
    position: sticky;
    top: 0px;

    th {
        padding: 0.8rem 0.6rem;
        font-weight: 400;
        color: $primary-color;
        text-transform: uppercase;

    }

}

.bg-churn_prdct--table-search {
    font-size: 12.8px;
    color: $font-color;
    border-color: $stroke-color;
}

.bg-churn_title--head {
    color: $primary-color;
    font-weight: 600;
}

.bg-churn_prdict--t-icon {
    color: $font-color;
    font-size: 1rem;
    margin-right: 0.3rem;
}

.bg-churn_prdict-s-icon {
    color: $green-font;
    font-size: 1rem;
    margin-right: 0.3rem;
}

.bg-churn_prdict-l-icon {
    color: $badge-bg;
    font-size: 1rem;
    margin-right: 0.3rem;
}

.bg-churn_detail-table {
    background-color: $secondary-color;
    border: 1px solid $stroke-color;

}

.bg-churn_prdict-profile-pic {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50px;
    margin-right: 0.3rem;
    overflow: hidden;

    img {
        width: 100%;
        object-fit: contain;
    }
}