

.bg-card-container {
  border-radius: 2px;
  box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid $stroke-color;
  background: #fff;
}

.bg-card-name {
  font-family: $mainhead-font;
  font-size: 16px;
  color: $main-heading;
  font-weight: 700;
}

.bg-card-text {
  font-size: 12.8px;
  font-weight: 500;
  color: $font-color;
  font-family: $text-font;
  margin-bottom: 8px;
}

.bg-secondary-btn {
  color: $primary-font;
  width: 100%;
}

.bg-secondary-btn:focus {
  outline: none;
  box-shadow: none;
}

.bg-primary-btn {
  width: 100%;
}

.bg-card-btn {
  width: 100%;
  padding: 10px 16px;
}

.bg-card-btn:first-child {
  margin-right: 1rem;
}

.bg-card-btn:focus {
  box-shadow: none;
  outline: 0;
}


.navbar-nav .bg-custom-search {
  min-height: 45px;
}
@media (max-width: 575px) {
  .navbar-nav .bg-custom-search {
    width: unset;
  }
}
