.bg-navitem-list {
  display: flex;
  font-size: 14px;
  color: $primary-font;
  font-family: $text-font;
  font-weight: 500;
  gap: 4px;
}
.nav-item.active .bg-navitem-list {
  color: $primary-font !important;

  &:hover {
    color: $link-color !important;
  }
}
.nav-link.bg-navitem-list {
  color: rgba($primary-font, 0.6) !important;
}
.bg-navitem-list:hover {
  color: $link-color;
}
.bg-navigation-btn {
  color: $link-color;
  font-size: 14px;
  font-weight: 500;
  background: none;
  border: none;
  display: flex;
  align-items: center;
}
.bg-navigation-btn::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../images/arrow-right-s-line.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-main-sectionhead {
  .bg-navigation-btn:not(:last-child) {
    color: $primary-font;
  }
}
.bg-main-sectionhead {
  .bg-navigation-btn:last-child:after {
    display: none;
  }
}

.bg-listView-table {
  width: 100%;
}

.bg-listview-head {
  background: $secondary-color;
  border-bottom: 1px solid $stroke-color;
  position: sticky;
  top: 0;
}

.bg-listview-head {
  th {
    color: $main-heading;
    font-size: 14px;
    padding: 1rem 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
  }
}

.bg-listview-head {
  th:first-child {
    text-align: center;
  }
}

.bg-listView-table {
  tbody {
    td {
      padding: 0.8rem 0.5rem;
      font-size: 14px;
      color: $main-heading;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 190px;
    }
  }
}

.bg-listView-table {
  tbody {
    tr {
      border-bottom: 1px solid $stroke-color;
    }
  }
}

.bg-listView-table {
  tbody {
    tr:nth-child(even) {
      background: $secondary-color;
    }
  }
}

.bg-status-state {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding: 4px 8px;

  border-radius: 3px;
}

.bg-status-quotion {
  background-color: $badge-bg;
}

.bg-status_sales-order {
  background-color: $green-bg;
}

.bg-status_quotionsend {
  background-color: $yellow-bg;
}

.bg-listView-table {
  tr {
    td:first-child {
      text-align: center;
    }
  }
}

.bg-ps_profile {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  font-family: $text-font;
  padding: 6px;
  border-radius: 3px;
  margin-right: 6px;
}

.bg-ps_profile-jd {
  color: #1bb2f1;
  background-color: #ccf0ff;
}

.bg-ps_profile-sr {
  color: #f1821b;
  background-color: #ffeecc;
}

.bg-call-icon {
  color: $green-font;
  font-size: 16px;
  margin-right: 6px;
  vertical-align: middle;
}

.bg-table_icons {
  color: $primary-font;
  font-size: 16px;
}

.bg-table_container {
  max-height: 76vh;
  background-color: $white;
  overflow: auto;
  display: unset;
}

.bg-total-amt {
  font-weight: 600;
  text-align: right;
}

.bg-total-head-amt {
  text-align: right;
}
.bg-form-settings-main-content {
  padding-right: 0.7rem;
}

.profile-pic {
  border-radius: 3px;
}
.bg-profile-pic-container {
  position: relative;
}
.bg-profile-pic-container--online {
  &:after {
    content: "";
    top: 0;
    width: 7px;
    height: 7px;
    display: block;
    position: absolute;
    border-radius: 1px;
    outline: 2px solid $primary-color;
    background-color: $green-bg;
  }
}
.bg-nav-links {
  display: flex;
  align-items: center;
}
.bg-main {
  background-color: $background-color;
}
