.bg-sale-analysis-title {
    color: $primary-color;
    font-weight: 500;
    margin-bottom: 1rem;



}

.bg-sale-analysis_head {
    font-weight: 600;
    font-size: 1.2rem;

    @media (max-width:575px) {
        font-size: 1rem;
    }
}

.bg-sales-analysis_date {
    padding: 0rem 2rem;
    color: $primary-color;
    font-size: 14px;
    border: 1px solid $stroke-color;
    border-radius: 6px;
    font-weight: 500;
    height: 36px;

    display: flex;
    align-items: center;

    @media (max-width:575px) {
        padding: 0 0.2rem;
        height: 30px;
        white-space: nowrap;
        font-size: 0.8rem;
    }
}

.bg-sales-analysis__tile {
    padding: 1rem 1.2rem;
    background-color: rgba(247, 247, 247, 0.818);
    border-radius: 5px;

}


.bg-sales-filters_list {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.bg-sale-amalysis_graph-container {
    border: 1px solid $stroke-color;
    border-radius: 6px;
    overflow: hidden;
    padding: 0.8rem;
}

.bg-sale-analysis_page-contain {
    overflow-y: auto;
    height: 90vh;
}

.bg-sale-analysis__tile-title {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.4rem 0;
    margin-bottom: 0;
    white-space: nowrap;

    @media (max-width:768px) {
        font-size: 1rem;
    }
}

.bg-sale-team-name {
    font-size: 14px;
    color: $main-heading;
    font-weight: 400;
}

.bg-dashboard_modal-heading {
    font-size: 1.2rem;
    color: $main-heading;
    font-weight: 500;
}
.bg-kpi_modal-container{
display: none;
}