
.bg-sales-forecast_container{
    height: 83vh;
    overflow-y: auto;
    @media (max-width:992px){
        height: unset;
    }
}
.bg-forecast_dropdown-btn{
 padding: 0.4rem 2rem;
}
.bg-drop-down-item{
    color: $main-heading;
    font-size: 14px;
}
.bg-sale-forecast-dropdown{
    text-align: left;
}
.bg-sale-forecast-dropdown::after{
    position: absolute;
    right: 0px;
    margin: 0.6rem;
}
.bg-sales-forcast_right-sidebar{
    padding-right: 1.7rem;
}