//button border.....................
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: $text-font;
}

.bg-button-stroke {
  border-radius: 2px;
  border-top: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  background-color: #fff;
  color: $primary-font;
  font-weight: 500;
  font-size: 13px;
 // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.bg-button-stroke:focus {
  box-shadow: none;
  border-color: $stroke-color;
}

.bg-border-btm {
  border-bottom: 1px solid $stroke-color;
}

.bg-breadcrumbs-titlebar {
  position: sticky;
  top: 68px;
  z-index: 9;
  background: $white;
}

.bg-breadcrumbs-bar {
  padding-left: 15px;
  padding-right: 15px;
}

.bg-button-primary-stroke {
  border-radius: 2px;
  border-top: 1px solid $active-btn-border;
  border-right: 1px solid $active-btn-border;
  border-bottom: 1px solid $active-btn-border;
  border-left: 1px solid $active-btn-border;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  background: $active-btn;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  text-shadow: 0.20000000298023224px 0.20000000298023224px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    top: 0px;
    height: 2px;
    background-color: $active-btn-line;
    left: 0px;
    &:hover{
      background-color: hsl(93, 78%, 24%);
    }

  }

}

.bg-border-right {
  border-right: 1px solid $stroke-color;
}

.bg-button-primary-stroke:hover {
  color: #fff;
}

.bg-button-primary-stroke:focus {
  box-shadow: none;
  border-color: $primary-border;
}

a {
  text-decoration: none;
}

* {
  &::-webkit-scrollbar {
    visibility: hidden;
    width: 5px;
    height: 5px;
  }

  &:hover {

    /* width */
    &::-webkit-scrollbar {
      visibility: visible;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: rgba($border-light-color, 0.3);
      border-radius: 25px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $border-color;
      border-radius: 25px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $placeholder-color;
    }
  }
}

.bg-maincard--sidebar {
  height: 76vh;
  overflow-y: auto;
}

.bg-button-primary-grey {
  border-radius: 6px;
  border-top: 1px solid $primary-border;
  border-right: 1px solid $primary-border;
  border-bottom: 1.5px solid $primary-border;
  border-left: 1px solid $primary-border;
  background: $primary-font;
  color: #fff;
  font-weight: 400;
  font-size: 13px;

  &:hover {
    color: #fff;
  }
}

.bg-toolbar {
  background: $white;
  position: sticky;
  top: 124px;
  z-index: 9;

  &::after {
    content: "";
    background: $white;
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    top: -6px;
  }
}

.bg-navbar-title {
  display: inline-block;
  margin-left: 10px;
}

.bg-dashboard-container {
  width: 98%;
  margin: 2rem auto;
  background: $white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  //min-height: 100vh;
}