@import url("//fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap");

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

//colors..................

$blue: #6F7500;

$primary-color: #9EA700;
$primary-focus: #EAEAEA;
$primary-border: #2A3779;
$primary-border-light: #364590;
$primary-light: #EAEAEA;
$primary-search-text: #8D8D8D;
$tab-link: #5669DB;
$secondary-color: #f7f7f7;
$stroke-color: #dfdfdf;

$primary-font: #505050;
$main-heading: #222222;

$link-color: #9EA700;
$link-background-color: #F4F4F7;
$sub-fonts: #8D8D8D;
$font-color: #717684;
$background-color: #F0F1F3;
$white: #fff;
$light-shade: #E7E7E7;
$secondary-bg: #FAFAFA;

$secondary-cyllobg:#464432;
$sidebar-bg:#373627;
$sidebar-color:#BCBBA7;
//fonts....................

$mainhead-font: 'Inter', sans-serif;
$text-font:'Inter', sans-serif;

//.............
$badge-bg: #FFBFCA;
$green-bg: #8DF09C;
$green-font: #1ec39a;
$yellow-font: #f9aa4f;
$yellow-bg: #F0D473;
$badge-red-bg: #FF8982;

$white: #fff;
$black: #000;

//..................................

$border-light-color: hsl(213, 22%, 93%) !default;
$border-color: hsl(213, 22%, 84%) !default;
$placeholder-color: hsl(216, 18%, 64%) !default;

//............
$active-btn: #6F7500;
$active-btn-border: #4B9212;
$active-btn-line: #7EC545;
$active-shadow: #386d0d;

$danger: #FF4B4B;