@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

//colors..................

$primary-color: #0E3A5D;
$primary-border: #0D3554;


$secondary-color: #F7F7F7;
$stroke-color: #DFDFDF;

$primary-font: #505050;
$main-heading: #222222;

$sub-fonts: #AFB7C9;
$font-color: #717684;
$white: #fff;

//fonts....................

$mainhead-font: 'Plus Jakarta Sans', sans-serif;
$text-font: 'Inter', sans-serif;

//
$badge-bg: #FF8982;
$green-bg: #EBFAF7;
$green-font: #1EC39A;
$yellow-font: #F9AA4F;
$yellow-bg: #FFEFD3;


//..................................

$border-light-color: hsl(213, 22%, 93%) !default;
$border-color: hsl(213, 22%, 84%) !default;
$placeholder-color: hsl(216, 18%, 64%) !default;