
//button border.....................

.bg-button-stroke {
    border-radius: 6px;
    border-top: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom: 2px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    background-color: #fff;
}
.bg-border-btm{
    border-bottom: 1px solid $stroke-color;
}